.layout--visualization {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.layout--control {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  border-top: 1px solid grey;
}

.details-pane {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: auto min-content;
}

@media (min-width: 1300px) {
  .layout--visualization {
    grid-template-rows: auto;
    grid-template-columns: auto 600px;
  }

  .layout--control {
    border-left: 1px solid grey;
    border-top: none;
  }
}